//VARIABLES//

$dosis: "Dosis", sans-serif;
$cream: #f2e8e3;
$hazelnut: #c9ada6;
$mattebrown: #9a8c98;
$dark1: #4a4e69;
$dark2: #22223b;

//GENERAL CLASSES//

//----positioning
.m2 {
  margin: 2rem;
}
.mb1 {
  margin-bottom: 1rem;
}
.flex {
  display: flex;
}
.jcenter {
  justify-content: center;
}
.jstart {
  justify-content: flex-start;
}
.jend {
  justify-content: flex-end;
}
//----typography
.fw200 {
  font-weight: 200;
}
.fw400 {
  font-weight: 400;
}
.fw600 {
  font-weight: 600;
}
.fw800 {
  font-weight: 800;
}
.transform-upper {
  text-transform: uppercase;
}

.button {
  border: solid 1px $dark2;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  &:hover {
    background: $dark2;
    color: white;
  }
}

//WHOLE WEBSITE//

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $dosis;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

//PRODUCTS LIST//

#products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  max-width: 70vw;
  margin: auto;
  .product-card {
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    margin: 1rem;
    box-shadow: 0 0.2rem 0.6rem rgba($color: #929292, $alpha: 0.3);
    border-radius: 1rem;
    cursor: pointer;
    .product-card-image {
      max-width: 100px;
    }
    .product-card-title {
      font-size: 1rem;
    }
    .product-card-price {
      color: $hazelnut;
    }
    .product-card-category {
      color: $mattebrown;
    }
  }
}

//PRODUCT DETAIL//
#product-detail {
  display: grid;
  align-items: center;
  max-width: 60%;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  .product-detail-image {
    max-width: 80%;
    object-fit: contain;
  }
  .product-detail-title {
    font-size: 1.5rem;
  }
  .product-detail-price {
    color: $hazelnut;
  }
  .product-detail-category {
    color: $mattebrown;
  }
  .product-detail-description {
    font-size: 1.2rem;
    text-align: justify;
  }
}
