//VARIABLES//

$dosis: "Dosis", sans-serif;
$cream: #f2e8e3;
$hazelnut: #c9ada6;
$mattebrown: #9a8c98;
$dark1: #4a4e69;
$dark2: #22223b;

//GENERAL CLASSES//

//----positioning
.p1 {
  padding: 1rem;
}
.m2 {
  margin: 2rem;
}
.m-auto {
  margin: auto;
}
.mb1 {
  margin-bottom: 1rem;
}
.flex {
  display: flex;
}
.jcenter {
  justify-content: center;
}
.jstart {
  justify-content: flex-start;
}
.jend {
  justify-content: flex-end;
}
//----typography
.fw200 {
  font-weight: 200;
}
.fw400 {
  font-weight: 400;
}
.fw600 {
  font-weight: 600;
}
.fw800 {
  font-weight: 800;
}
.fs1 {
  font-size: 1rem;
}
.fs2 {
  font-size: 2rem;
}
.transform-upper {
  text-transform: uppercase;
}
//----color
.bg-cream {
  background: $cream;
}
.bg-hazel {
  background: $hazelnut;
}
.bg-matte {
  background: $mattebrown;
}
.bg-dark1 {
  background: $dark1;
}
.bg-dark2 {
  background: $dark2;
}
.cream {
  color: $cream;
}
.hazel {
  color: $hazelnut;
}
.matte {
  color: $mattebrown;
}
.dark1 {
  color: $dark1;
}
.dark2 {
  color: $dark2;
}
.white {
  color: white;
}
//----sizing
.max-70vw {
  max-width: 70vw;
}
//----positioning
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}

.button {
  border: solid 1px $dark2;
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  &:hover {
    background: $dark2;
    color: white;
  }
}
.no-border {
  border: none;
}

//WHOLE WEBSITE//

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $dosis;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

//HEADER//

nav {
  align-items: center;
  max-width: 70vw;
  margin: auto;
  justify-content: space-between;
  padding: 1rem;
}

#cart-index {
  line-height: 1rem;
  font-size: 0.7rem;
  top: -3px;
  width: 1rem;
  border-radius: 100%;
}

//PRODUCTS LIST//

#products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  max-width: 70vw;
  margin: auto;
  .product-card {
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    margin: 1rem;
    box-shadow: 0 0.2rem 0.6rem rgba($color: #929292, $alpha: 0.3);
    border-radius: 1rem;
    cursor: pointer;
    .product-card-image {
      max-width: 100px;
    }
    .product-card-title {
      font-size: 1rem;
    }
    .product-card-price {
      color: $hazelnut;
    }
    .product-card-category {
      color: $mattebrown;
    }
  }
}

//PRODUCT DETAIL//
#product-detail {
  display: grid;
  align-items: center;
  max-width: 60%;
  margin: auto;
  min-height: 80vh;
  grid-template-columns: 1fr 1fr;
  .product-detail-image {
    max-width: 80%;
    object-fit: contain;
  }
  .product-detail-title {
    font-size: 1.5rem;
  }
  .product-detail-price {
    color: $hazelnut;
  }
  .product-detail-category {
    color: $mattebrown;
  }
  .product-detail-description {
    font-size: 1.2rem;
    text-align: justify;
  }
  #back-button {
    position: fixed;
    top: 2rem;
    left: 10%;
  }

  .button-add-cart {
    &:hover {
      background: $mattebrown;
    }
  }
}

//CART//

#table-container {
  table {
    border-collapse: collapse;
    width: 100%;
  }

  tr:nth-child(even) {
    background: $cream;
  }
  td,
  th {
    border: 1px solid $cream;
    padding: 0.5rem;
  }
}
